<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
          {% for post in posts %}
          <h1>Author: {{ post.author }}</h1>
          <h2>Title: {{ post.title }}</h2>
           <p>
        {{ post.text|linebreaks }}
            </p>
            {% endfor %}
        </div>
    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
    {% endfor %}
    </body>
</html>
